#btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

#group {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    padding-top: 5px;
}

.section{
    width: 40px;
    height: 40px;
    background-color: darkgray;
}